<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>冷凍食品</title>
        <link rel="stylesheet" href="../../static/css/activeLevel.css">
        <!-- <script src="../static/test.js" defer></script> -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
    </head>
        <body>
         <!-- startヘッダー -->
         <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <a class="logo" href="#">
                  <img src="../../static/img/logo/logo.svg">
                </a>
                <p class="copy"><a href="/">For your busy time...</a></p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <li>
                      <a href="/input">CALCULATE</a>
                  </li>
                  <li>
                      <a href="/recommend">RECOMMEND</a>
                  </li>
                  <li>
                      <a href="#">FAVORITES</a>
                  </li>
                  <li>
                      <a href="/personal_data">PERSONAL</a>
                  </li>
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="search">
                      <a href="#"><img src="../../static/img/ico/ico_search.svg" alt="search" width="30px" height="30px"></a>
                  </li>
                  <li class="favorites">
                      <a href="#"><img src="../../static/img/ico/ico_heart.svg" alt="favorites" width="30px" height="30px"></a>
                  </li>
                  <li>
                      <a href="/logout"><img src="../../static/img/ico/ico_home.svg" alt="logout" width="30px" height="30px"></a>
                  </li>
                </ul>
              </nav>
            </div>
        </header>
         <!-- endヘッダー -->
         <!-- 活動量カード -->
         <section class="wrapper" style="display:none">
            <div class="back">
                <button type="submit" class="backNextButton" style="--clr: #00ccff;--i:0;">
                    <span>Back</span>
                </button>
            </div>
            <div class="food-containerActive">
                <div class="sentence">
                    <p class="question2">日々の活動量を選んでください</p>
                </div>
                <div class="columnActive1">
                    <div class="answer1">
                        <input type="radio" name="level" form="result" value="one" class="activeLevel"><label for ="座り仕事が多く、<br>１日の運動は、階段の上り下りくらいだった。" class="activeLevel">座り仕事が多く、１日の運動は、<br>階段の上り下りくらいだった。</label>
                    </div>
                </div>
                <div class="columnActive2">
                    <div class="answer2">
                        <input type="radio" name="level" form="result" value="two" class="activeLevel"><label for ="立ち仕事が多く、<br>比較的一日中動き回った。" class="activeLevel">立ち仕事が多く、<br>比較的一日中動き回った。</label>
                    </div>
                </div>
                <div class="columnActive3">
                    <div class="answer3">
                        <input type="radio" name="level" form="result" value="three" class="activeLevel"><label for ="立ち仕事が多く、加えてジムで<br>トレーニングもした。" class="activeLevel">立ち仕事が多く、加えて<br>ジムでトレーニングもした。</label>
                    </div>
                </div>
            </div>
            <form action="/input" method="POST" id="result">
                <div class="next">
                    <button type="submit" class="backNextButton" style="--clr: #ff22bb;--i:0;">
                        <span>Next</span>
                    </button>
                </div>
            </form>
           </section>
           <!-- end活動量カード -->
           <script src="https://code.jquery.com/jquery.min.js"></script>
           <script>
           $(function() {
                $(".answer1").click(function() {
                    $(".answer1").toggleClass("clickAnswer1") ;
                });
            });
            </script>
            <script>
            $(function() {
                $(".answer2").click(function() {
                    $(".answer2").toggleClass("clickAnswer2") ;
                });
            });
            </script>
            <script>
            $(function() {
                $(".answer3").click(function() {
                    $(".answer3").toggleClass("clickAnswer3") ;
                });
            });
            </script>
            <script>
                $(document).ready(function(){
                  $(".wrapper").fadeIn(3500);
            });
            </script>
        </body>
    </html>

