<!DOCTYPE HTML>
<html="ja" class="body">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>冷食クラブ| おすすめの冷凍食品が簡単に見つかる</title>
        <link rel="stylesheet" href="../../static/css/loading_style.css">
        <link rel="stylesheet" href="../../static/css/loading-connection_style.css">
        <link href="../../static/css/home_style.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/heart_transition.css">
        <link rel="icon" href="/favicon.ico" id="favicon">
        <script src="../../static/js/home_style.js" defer></script>
        <script src="../../static/js/loading-connection_style.js" defer></script>
    </head>
    <body>
          <div id="loading" class="loading active">
            <div class="loading-container">
                <h2>Now Loading...</h2>
                <div class="spinner">
                  <div class="circle"></div>
                </div>
            </div>
          </div>
        <!-- startヘッダー -->
        <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <a href="/" class="logo">
                  <img src="../../static/img/logo/logo.svg">
                </a>
                <p class="copy">For your busy time...</p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <!-- 文字のボタン -->
                  <li class="tab">
                     <a href="/tutorial" role="button">TUTORIAL</a>
                  </li>
                  <li class="tab">
                    <a href="/personal_data" role="button">PERSONAL</a>
                  </li>
                  <li class="tab">
                      <a href="/input" role="button">CALCULATE</a>
                  </li>
                  <li class="tab">
                    <a href="/favorite" role="button">FAVORITES</a>
                  </li>
                  <!-- end文字のボタン -->

                  <!-- ↓もし必要なら使ってください(後で消します)安東 -->
                  <!-- <li>
                      <form action ="/recommend" method="post" id="check">
                        <div class="recommend_wrap">
                            <input type="submit" value="RECOMMEND">
                        </div>
                      </form>
                  </li> -->
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="tutorial">
                    <a href="/tutorial"><img src="../../static/img/ico/tutorial.svg" alt="tutorial" height="30px" width="30px"></a>
                  </li>
                  <li class="personal">
                    <a href="/personal"><img src="../../static/img/ico/personal.svg" alt="personal" height="30px" width="30px"></a>
                  </li>
                  <li class="calculate">
                    <a href="/calculate"><img src="../../static/img/ico/calculate.svg" alt="calculate" height="30px" width="30px"></a>
                  </li>
                  <li class="favorites">
                      <a href="/favorite"><img src="../../static/img/ico/ico_heart.svg" alt="favorites" height="30px" width="30px"></a>
                  </li>
                  <li class="logout">
                      <a href="/logout"><img src="../../static/img/ico/ico_logout.svg" alt="logout" height="30px" width="30px"></a>
                  </li>
                </ul>
              </nav>
            </div>
        </header>
        <!-- endヘッダー -->
        <main>
        <!-- レコメンド機能 -->
            <ul class="tabs">
              <!-- カテゴリ1 -->
              <li>
                <label>
                  <input type="checkbox" id="beef" name="beef" form="check" value="beef" checked>
                  <span>
                    <i>
                        <svg class="likeButton clicked" width="49px" height="49px" viewBox="0 0 500 500">
                            <circle class="explosion" r="150" cx="250" cy="250"></circle>
                            <g class="particleLayer">
                              <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                              <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                              <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                              <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                              <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                              <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                              <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                              <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                            </g>
                            <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                          </svg>
                    </i>
                  </span>
                </label>
                <a class="active position">
                  <span>お弁当肉系</span>
                </a>
              </li>
              <!-- カテゴリ2 -->
              <li>
                <label>
                  <input type="checkbox" id="fish" name="fish" form="check" value="fish" checked>
                  <span>
                    <i>
                      <svg class="likeButton clicked" width="49px" height="49px" viewBox="0 0 500 500">
                        <circle class="explosion" r="150" cx="250" cy="250"></circle>
                        <g class="particleLayer">
                          <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                          <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                          <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                          <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                          <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                          <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                          <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                          <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                          <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                          <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                          <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                          <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                          <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                          <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                        </g>
                        <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                      </svg>
                    </i>
                  </span>
                </label>
                <a href="" class="active position">
                  <span>お弁当魚系</span>
                </a>
              </li>
              <!-- カテゴリ3 -->
              <li>
                <label>
                  <input type="checkbox" id="rice" name="rice" form="check" value="rice" checked>
                  <span>
                    <i>
                        <svg class="likeButton clicked" width="49px" height="49px" viewBox="0 0 500 500">
                            <circle class="explosion" r="150" cx="250" cy="250"></circle>
                            <g class="particleLayer">
                              <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                              <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                              <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                              <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                              <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                              <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                              <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                              <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                            </g>
                            <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                          </svg>
                    </i>
                  </span>
                </label>
                <a href="" class="active position">
                  <span>米飯系</span>
                </a>
              </li>
              <!-- カテゴリ4 -->
              <li>
                <label>
                  <input type="checkbox" id="noodle" name="noodle" form="check" value="noodle" checked>
                  <span>
                    <i>
                        <svg class="likeButton clicked" width="49px" height="49px" viewBox="0 0 500 500">
                            <circle class="explosion" r="150" cx="250" cy="250"></circle>
                            <g class="particleLayer">
                              <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                              <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                              <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                              <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                              <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                              <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                              <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                              <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                            </g>
                            <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                          </svg>
                    </i>
                  </span>
                </label>
                <a href="" class="active position">
                  <span>麺系</span>
                </a>
              </li>
            </ul>
        </form>
            <ul class="contents">
              <li class="active">
                <section class="wrapper">
                  {%- set ns = namespace(cnt=0) -%}
                  {% for food in data %}
                  {% if food['カテゴリ'] == 'お弁当肉系'%}
                      <div tabindex="0" role="button" class="food-container">
                          <div class="card-header" style="height: 140px;">
                              <img src="{{food['画像']}}" alt="{{food['食品名']}}" style="height: 140px;">
                          </div>
                          <div class="card-body">
                            <div class="foodname">{{food['食品名']}}</div>
                            <a href="{{food['url']}}">
                              <button type="submit" onclick="windows.open({{food['url']}})"><span>商品情報はこちら！</span></button>
                            </a>
                          </div>
                      </div>
                      {%- set ns.cnt = ns.cnt + 1 -%}
                      {% if ns.cnt % 4 == 0 %}
                      </section><section class="wrapper">
                      {% endif %}
                  {% endif %}
                  {% endfor %}
                  </section>
                  <section class="wrapper">
                    <div class="submit_button_container">
                      <form action ="/recommend" method="post" id="check" class="submit_button">
                        <div class="Recommend">
                            <input type="submit" value="Recommend">
                        </div>
                      </form>
                    </div>
                  </section>
              </li>
              <li>
                <section class="wrapper">
                {%- set ns = namespace(cnt=0) -%}
                {% for food in data %}
                {% if food['カテゴリ'] == 'おべんとう 魚系'%}
                    <div tabindex="0" role="button" class="food-container">
                        <div class="card-header" style="height: 140px;">
                            <img src="{{food['画像']}}" alt="{{food['食品名']}}" style="height: 140px;">
                        </div>
                        <div class="card-body">
                          <div class="foodname">{{food['食品名']}}</div>
                          <a href="{{food['url']}}">
                            <button><span>商品情報はこちら！</span></button>
                          </a>
                        </div>
                    </div>
                    {%- set ns.cnt = ns.cnt + 1 -%}
                    {% if ns.cnt % 4 == 0 %}
                    </section><section class="wrapper">
                    {% endif %}
                {% endif %}
                {% endfor %}
                </section>
                <section class="wrapper">
                  <div class="submit_button_container">
                    <form action ="/recommend" method="post" id="check" class="submit_button">
                      <div class="Recommend">
                          <input type="submit" value="Recommend">
                      </div>
                    </form>
                  </div>
                </section>
              </li>
              <li>
                <section class="wrapper">
                  {%- set ns = namespace(cnt=0) -%}
                  {% for food in data %}
                  {% if food['カテゴリ'] == 'ごはん系'%}
                      <div tabindex="0" role="button" class="food-container">
                          <div class="card-header" style="height: 140px;">
                              <img src="{{food['画像']}}" alt="{{food['食品名']}}" style="height: 140px;">
                          </div>
                          <div class="card-body">
                            <div class="foodname">{{food['食品名']}}</div>
                            <a href="{{food['url']}}">
                              <button><span>商品情報はこちら！</span></button>
                            </a>
                          </div>
                      </div>
                      {%- set ns.cnt = ns.cnt + 1 -%}
                      {% if ns.cnt % 4 == 0 %}
                      </section><section class="wrapper">
                      {% endif %}
                  {% endif %}
                  {% endfor %}
                  </section>
                  <section class="wrapper">
                    <div class="submit_button_container">
                      <form action ="/recommend" method="post" id="check" class="submit_button">
                        <div class="Recommend">
                            <input type="submit" value="Recommend">
                        </div>
                      </form>
                    </div>
                  </section>
              </li>
              <li>
                <section class="wrapper">
                  {%- set ns = namespace(cnt=0) -%}
                  {% for food in data %}
                  {% if food['カテゴリ'] == '麺系'%}
                      <div tabindex="0" role="button" class="food-container">
                          <div class="card-header" style="height: 140px;">
                              <img src="{{food['画像']}}" alt="{{food['食品名']}}" style="height: 140px;">
                          </div>
                          <div class="card-body">
                            <div class="foodname">{{food['食品名']}}</div>
                            <a href="{{food['url']}}">
                              <button><span>商品情報はこちら！</span></button>
                            </a>
                          </div>
                      </div>
                      {%- set ns.cnt = ns.cnt + 1 -%}
                      {% if ns.cnt % 4 == 0 %}
                      </section><section class="wrapper">
                      {% endif %}
                  {% endif %}
                  {% endfor %}
                  </section>
                  <section class="wrapper">
                    <div class="submit_button_container">
                      <form action ="/recommend" method="post" id="check" class="submit_button">
                        <div class="Recommend">
                            <input type="submit" value="Recommend">
                        </div>
                      </form>
                    </div>
                  </section>
              </li>
            </ul>
          </main>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
          $(".likeButton").click(function() {
            $(this).toggleClass("clicked");
          });
        </script>
        <script>
         $(function() {
            $(".submit_button").click(function() {
                $(".submit_button").toggleClass("submit_button_clicked");
            });
        });
        </script>
    </body>
</html>