<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
    <link rel="stylesheet" href="../../../static/css/login_register.css">
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="exceptPhoto">
    <div class="header">
    <div>For your<br>
        <span>busy time...</span>
    </div>
    </div>
    <br>
    <form action="/login" method="POST">
        <div class="login">
            <input type="text" placeholder="username" name="user"><br>
            <input type="password" placeholder="password" name="password"><br>
            <button type="submit" value="Login">Login</button>
        </div>
    </form>
</div>
</body>
</html>
