<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>食事入力|冷食クラブ</title>
        <link rel="stylesheet" href="../../static/css/meal_style.css">
        <!-- <script src="../static/test.js" defer></script> -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
    </head>
        <body>
         <!-- startヘッダー -->
         <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <a class="logo" href="#">
                  <img src="../../static/img/logo/logo.svg">
                </a>
                <p class="copy"><a href="/">For your busy time...</a></p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <li>
                      <a href="/input">CALCULATE</a>
                  </li>
                  <li>
                      <a href="/recommend">RECOMMEND</a>
                  </li>
                  <li>
                      <a href="#">FAVORITES</a>
                  </li>
                  <li>
                      <a href="/personal_data">PERSONAL</a>
                  </li>
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="search">
                      <a href="#"><img src="../../static/img/ico/ico_search.svg" alt="search" width="30px" height="30px"></a>
                  </li>
                  <li class="favorites">
                      <a href="#"><img src="../../static/img/ico/ico_heart.svg" alt="favorites" width="30px" height="30px"></a>
                  </li>
                  <li>
                      <a href="/logout"><img src="../../static/img/ico/ico_home.svg" alt="logout" width="30px" height="30px"></a>
                  </li>
                </ul>
              </nav>
            </div>
        </header>
         <!-- endヘッダー -->
         <!-- 食事検索カード -->
         <section class="wrapper">
            <div class="back">
                <form action="/input" method="GET">
                    <button type="submit" class="backNextButton" style="--clr: #00ccff;--i:0;">
                        <span>Back</span>
                    </button>
                </form>
            </div>
            <div class="food-container">
                <div class="sentence">
                    <p class="question4">質問：食べたものを入力してください</p>
                </div>
                <div class="columnMeal1">
                    <div class="meal1">
                        <p class="mealType">朝食</p>
                        <input type="text" name="breakfast" class="mealName1" form="result" placeholder="朝食を入力してください">
                    </div>
                </div>
                <div class="columnMeal2">
                    <div class="meal2">
                        <p class="mealType">昼食</p>
                        <input type="text" name="lunch" class="mealName1" form="result" placeholder="昼食を入力してください">
                    </div>
                </div>
                <div class="columnMeal3">
                    <div class="meal3">
                        <p class="mealType">間食</p>
                        <input type="text" name="snack" class="mealName1" form="result" placeholder="間食を入力してください">
                    </div>
                </div>
                <div class="columnButton">
                    <form action="/search_item" method="GET" id="result">
                        <div class="searchButton">
                            <button type="submit" class="button" style="--clr: #22e622;--i:0;">
                                <span>SEARCH</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- end食事検索カード -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script>
        $(function() {
            $(".meal1").click(function() {
                $(".meal1").toggleClass("clickMeal1") ;
            });
        });
        </script>
        <script>
        $(function() {
            $(".meal2").click(function() {
                $(".meal2").toggleClass("clickMeal2") ;
            });
        });
        </script>
        <script>
        $(function() {
            $(".meal3").click(function() {
                $(".meal3").toggleClass("clickMeal3") ;
            });
        });
        </script>
        <script>
        $(document).ready(function(){
            $(".wrapper").fadeIn(3500);
        });
        </script>
    </body>
</html>

