<!DOCTYPE html>
<html="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>冷凍食品</title>
        <link rel="stylesheet" href="../../static/css/input_style.css">
        <!-- <script src="../static/test.js" defer></script> -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
    </head>
        <body>
        <!-- startヘッダー -->
        <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <a class="logo" href="#">
                  <img src="../../static/img/logo/logo.svg">
                </a>
                <p class="copy"><a href="/">For your busy time...</a></p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <li>
                      <a href="/input">CALCULATE</a>
                  </li>
                  <li>
                      <a href="/recommend">RECOMMEND</a>
                  </li>
                  <li>
                      <a href="#">FAVORITES</a>
                  </li>
                  <li>
                      <a href="/personal_data">PERSONAL</a>
                  </li>
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="search">
                      <a href="#"></a>
                  </li>
                  <li class="favorite">
                      <a href="#"></a>
                  </li>
                  <li>
                      <a href="/logout"></a>
                  </li>
                </ul>
              </nav>
            </div>
        </header>
        <!-- endヘッダー -->
        <!-- 個人情報カード -->
        <form action="/personal_data" method="POST">
            <section class="wrapper">
                <div class="food-container" style="display: none">
                    <div class="sentence">
                        <p class="question1">質問１：パーソナルデータを入力してください</p>
                    </div>
                    <div class="column1">
                        <div class="sex">
                            <h1 id="sex">性別</h1>
                            <div class="choice">
                                <div class="male">
                                    <input type="radio" src="../../static/img/sex/male.png" alt="男" value="男" class="male" name="sex">
                                </div>
                                <div class="female">
                                    <input type="radio" src="../../static/img/sex/female.png" alt="女" value="女" class="female" name="sex">
                                </div>
                            </div>
                        </div>
                        <div class="age">
                            <h1>年齢</h1>
                            <div class="age0">
                                <div class="age1">
                                    <form>
                                        <input type="number" placeholder="才" name="age" min="0" max="120" class="ageInput"><br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="height">
                            <h1>身長</h1>
                            <div class="height0">
                                <div class="height1">
                                    <form>
                                        <input type="number" placeholder="cm" name="height" min="50" max="220" class="heightInput"><br>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="weight">
                            <h1>体重</h1>
                            <div class="weight0">
                                <div class="weight1">
                                    <form>
                                        <input type="number" placeholder="kg" name="weight" min="3" class="weightInput"><br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <input type="submit" value="次へ"> -->
                </div>
                <div class="next">
                    <button type="submit" class="backNextButton" style="--clr: #ff22bb;--i:0;">
                        <span>Next</span>
                    </button>
                </div>
            </section>
        </form>
        <!-- end個人情報カード -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script>
        $(function() {
            $(".male").click(function() {
                $(".sex").toggleClass("clickMale") ;
            });
        });
        </script>
        <script>
        $(function() {
            $(".male").click(function() {
                $(".sex").removeClass("clickFemale") ;
            });
        });
        </script>
        <script>
        $(function() {
            $(".female").click(function() {
                $(".sex").toggleClass("clickFemale");
            });
        });
        </script>
        <script>
        $(function() {
            $(".female").click(function() {
                $(".sex").removeClass("clickMale") ;
            });
        });
        </script>
        <script>
        $(function() {
            $(".age0").click(function() {
                $(".age").toggleClass("clickAge0") ;
            });
        });
        </script>
        <script>
        var regexp = /[\s\u{3000}]/ug;
        var text = $age.text();
        if(text.replace(regexp, '') == ''){
            $age.removeClass("clickAge0");
        }
        </script>
        <script>
        $(function() {
            $(".height0").click(function() {
                $(".height").toggleClass("clickHeight0") ;
            });
        });
        </script>
        <script>
        $(function() {
            $(".weight0").click(function() {
                $(".weight").toggleClass("clickWeight0") ;
            });
        });
        </script>
        <script>
            $(document).ready(function(){
            $(".food-container").fadeIn(3500);
        });
        </script>
        </body>
    </html>
