<!DOCTYPE html>
<html="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>パーソナルデータ入力| 冷食倶楽部</title>
        <link rel="stylesheet" href="../../static/css/input_style.css">
        <!-- <script src="../static/test.js" defer></script> -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
    </head>
        <body>
        <!-- startヘッダー -->
        <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <a href="/" class="logo">
                  <img src="../../static/img/logo/logo.svg">
                </a>
                <p class="copy">For your busy time...</p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <!-- 文字のボタン -->
                  <li class="tab">
                    <a href="/tutorial" role="button">TUTORIAL</a>
                  </li>
                  <li class="tab">
                    <a href="/personal_data" role="button">PERSONAL</a>
                  </li>
                  <li class="tab">
                    <a href="/input" role="button">CALCULATE</a>
                  </li>
                  <li class="tab">
                    <a href="/favorite" role="button">FAVORITES</a>
                  </li>
                  <!-- end文字のボタン -->
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="tutorial">
                    <a href="/tutorial"><img src="../../static/img/ico/tutorial.svg" alt="tutorial" height="30px" width="30px"></a>
                  </li>
                  <li class="personal">
                    <a href="/personal"><img src="../../static/img/ico/personal.svg" alt="personal" height="30px" width="30px"></a>
                  </li>
                  <li class="calculate">
                    <a href="/calculate"><img src="../../static/img/ico/calculate.svg" alt="calculate" height="30px" width="30px"></a>
                  </li>
                  <li class="favorites">
                    <a href="/favorite"><img src="../../static/img/ico/ico_heart.svg" alt="favorites" height="30px" width="30px"></a>
                  </li>
                  <li class="logout">
                     <a href="/logout"><img src="../../static/img/ico/ico_logout.svg" alt="logout" height="30px" width="30px"></a>
                  </li>
                </ul>
              </nav>
            </div>
        </header>
        <!-- endヘッダー -->
        <!-- 個人情報カード -->
        <section class="wrapper"  style="display: none">
            <div class="food-container">
                <div class="sentence">
                    <p class="question1">質問：パーソナルデータを入力してください</p>
                </div>
                <div class="column1">
                    <div class="sex">
                        <h1 id="sex">性別</h1>
                        <div class="choice">
                            <div class="male">
                                <input type="radio" value="男" id="male" class="male" name="sex" form="personal"><label for="male"><img src="../../static/img/sex/male.png"></label>
                            </div>
                            <div class="female">
                                <input type="radio" value="女" id="female" class="female" name="sex" form="personal"><label for="female"><img src="../../static/img/sex/female.png"></label>
                            </div>
                        </div>
                    </div>
                    <div class="age">
                        <h1>年齢</h1>
                        <div class="age0">
                            <div class="age1">
                                <form>
                                    <input type="number" placeholder="才" name="age" min="0" max="120" class="ageInput" form="personal"><br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column2">
                    <div class="height">
                        <h1>身長</h1>
                        <div class="height0">
                            <div class="height1">
                                <form>
                                    <input type="number" placeholder="cm" name="height" min="50" max="220" class="heightInput" form="personal"><br>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="weight">
                        <h1>体重</h1>
                        <div class="weight0">
                            <div class="weight1">
                                <form>
                                    <input type="number" placeholder="kg" name="weight" min="3" class="weightInput" form="personal"><br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <input type="submit" value="次へ"> -->
            </div>
            <form action="/personal_data" method="POST" id="personal">
                <div class="next">
                    <button type="submit" class="backNextButton" style="--clr: #ff22bb;--i:0;">
                        <span>Next</span>
                    </button>
                </div>
            </form>
        </section>
        <!-- end個人情報カード -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script>
        $(function() {
            $(".male").click(function() {
                $(".sex").toggleClass("clickMale") ;
            });
        });
        </script>
        <script>
        $(function() {
            $(".male").click(function() {
                $(".sex").removeClass("clickFemale") ;
            });
        });
        </script>
        <script>
        $(function() {
            $(".female").click(function() {
                $(".sex").toggleClass("clickFemale");
            });
        });
        </script>
        <script>
        $(function() {
            $(".female").click(function() {
                $(".sex").removeClass("clickMale") ;
            });
        });
        </script>
        <script>
        $(function() {
            $(".age0").click(function() {
                $(".age").toggleClass("clickAge0") ;
            });
        });
        </script>
        <script>
        var regexp = /[\s\u{3000}]/ug;
        var text = $age.text();
        if(text.replace(regexp, '') == ''){
            $age.removeClass("clickAge0");
        }
        </script>
        <script>
        $(function() {
            $(".height0").click(function() {
                $(".height").toggleClass("clickHeight0") ;
            });
        });
        </script>
        <script>
        $(function() {
            $(".weight0").click(function() {
                $(".weight").toggleClass("clickWeight0") ;
            });
        });
        </script>
        <script>
            $(document).ready(function(){
            $(".wrapper").fadeIn(3500);
        });
        </script>
        </body>
    </html>
