<!DOCTYPE html>
<html="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>食事目的選択| 冷食クラブ</title>
        <link rel="stylesheet" href="../../static/css/activeLevel.css">
        <!-- <script src="../static/test.js" defer></script> -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
    </head>
        <body>
        <!-- startヘッダー -->
        <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <a href="/" class="logo">
                  <img src="../../static/img/logo/logo.svg">
                </a>
                <p class="copy">For your busy time...</p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <!-- 文字のボタン -->
                  <li class="tab">
                    <a href="/tutorial" role="button">TUTORIAL</a>
                  </li>
                  <li class="tab">
                    <a href="/personal_data" role="button">PERSONAL</a>
                  </li>
                  <li class="tab">
                    <a href="/input" role="button">CALCULATE</a>
                  </li>
                  <li class="tab">
                    <a href="/favorite" role="button">FAVORITES</a>
                  </li>
                  <!-- end文字のボタン -->
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="tutorial">
                    <a href="/tutorial"><img src="../../static/img/ico/tutorial.svg" alt="tutorial" height="30px" width="30px"></a>
                  </li>
                  <li class="personal">
                    <a href="/personal"><img src="../../static/img/ico/personal.svg" alt="personal" height="30px" width="30px"></a>
                  </li>
                  <li class="calculate">
                    <a href="/calculate"><img src="../../static/img/ico/calculate.svg" alt="calculate" height="30px" width="30px"></a>
                  </li>
                  <li class="favorites">
                    <a href="/favorite"><img src="../../static/img/ico/ico_heart.svg" alt="favorites" height="30px" width="30px"></a>
                  </li>
                  <li class="logout">
                    <a href="/logout"><img src="../../static/img/ico/ico_logout.svg" alt="logout" height="30px" width="30px"></a>
                  </li>
                </ul>
              </nav>
            </div>
        </header>
         <!-- endヘッダー -->
         <!-- 活動目的カード -->
        <form action="/personal_data" method="POST">
            <section class="wrapper" style="display:none">
                <div class="back">
                    <button type="submit" class="backNextButton" style="--clr: #00ccff;--i:0;">
                        <span>Back</span>
                    </button>
                </div>
                <div class="food-containerPurpose">
                    <div class="sentence">
                        <p class="question3">質問：食事の目的を選んでください</p>
                    </div>
                    <div class="columActive1">
                        <!-- idを付与；formをidと同じ値にした。 -->
                        <!-- classをincreaseとdecreaseを入れ替えた。 -->
                        <div class="increase">
                            <input type="radio" id="decrease" name="purpose" value="増量" form="purpose"><label for="decrease" class="activePurpose">増量</label>
                        </div>
                    </div>
                    <div class="culumActive2">
                        <div class="maintain">
                            <input type="radio" name="purpose" value="現状維持" form="purpose"><label for="現状維持" class="activePurpose">維持</label>
                        </div>
                    </div>
                    <div class="culumActive3">
                        <div class="decrease">
                            <input type="radio" name="purpose" value="減量" form="purpose"><label for="減量" class="activePurpose">減量</label>
                        </div>
                    </div>
                </div>
                <div class="next">
                    <button type="submit" class="backNextButton" style="--clr: #ff22bb;--i:0;">
                        <span>Next</span>
                    </button>
                </div>
            </section>
        </form>
           <!-- end活動目的カード -->
           <script src="https://code.jquery.com/jquery.min.js"></script>
           <script>
           $(function() {
                $(".decrease").click(function() {
                    $(".decrease").toggleClass("clickDecrease") ;
                });
            });
            </script>
            <script>
            $(function() {
                $(".maintain").click(function() {
                    $(".maintain").toggleClass("clickMaintain") ;
                });
            });
            </script>
            <script>
            $(function() {
                $(".increase").click(function() {
                    $(".increase").toggleClass("clickIncrease") ;
                });
            });
            </script>
            <script>
                $(document).ready(function(){
                $(".wrapper").fadeIn(3500);
            });
            </script>
        </body>
    </html>

