<!DOCTYPE html>
<html="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>冷凍食品</title>
        <link rel="stylesheet" href="../../static/css/activeLevel.css">
        <!-- <script src="../static/test.js" defer></script> -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
    </head>
        <body>
        <!-- startヘッダー -->
        <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <a class="logo" href="#">
                  <img src="../../static/img/logo/logo.svg">
                </a>
                <p class="copy"><a href="/">For your busy time...</a></p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <li>
                      <a href="/input">CALCULATE</a>
                  </li>
                  <li>
                      <a href="/recommend">RECOMMEND</a>
                  </li>
                  <li>
                      <a href="#">FAVORITES</a>
                  </li>
                  <li>
                      <a href="/personal_data">PERSONAL</a>
                  </li>
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="search">
                      <a href="#"></a>
                  </li>
                  <li class="favorite">
                      <a href="#"></a>
                  </li>
                  <li>
                      <a href="/logout"></a>
                  </li>
                </ul>
              </nav>
            </div>
        </header>
         <!-- endヘッダー -->
         <!-- 活動目的カード -->
        <form action="/personal_data" method="POST">
            <section class="wrapper">
                <div class="food-container" style="display:none">
                    <div class="sentence">
                        <p class="question3">質問３：食事の目的を選んでください</p>
                    </div>
                    <div class="columActive1">
                        <div class="decrease">
                            <input type="radio" name="purpose" value="増量"><label for="増量" class="activePurpose">増量</label>
                        </div>
                    </div>
                    <div class="culumActive2">
                        <div class="maintain">
                            <input type="radio" name="purpose" value="維持"><label for="維持" class="activePurpose">維持</label>
                        </div>
                    </div>
                    <div class="culumActive3">
                        <div class="increase">
                            <input type="radio" name="purpose" value="減量"><label for="減量" class="activePurpose">減量</label>
                        </div>
                    </div>
                </div>
                <div class="next">
                    <button type="submit" class="backNextButton" style="--clr: #ff22bb;--i:0;">
                        <span>Next</span>
                    </button>
                </div>
            </section>
        </form>
           <!-- end活動目的カード -->
           <script src="https://code.jquery.com/jquery.min.js"></script>
           <script>
           $(function() {
                $(".decrease").click(function() {
                    $(".decrease").toggleClass("clickDecrease") ;
                });
            });
            </script>
            <script>
            $(function() {
                $(".maintain").click(function() {
                    $(".maintain").toggleClass("clickMaintain") ;
                });
            });
            </script>
            <script>
            $(function() {
                $(".increase").click(function() {
                    $(".increase").toggleClass("clickIncrease") ;
                });
            });
            </script>
            <script>
                $(document).ready(function(){
                $(".food-container").fadeIn(3500);
            });
            </script>
        </body>
    </html>

