<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend</title>
</head>
<body>
    {% for dict in recomendList %}
        <div>
            <p>---------------------------------------</p>
             <img src = 'dict["画像"]' width="150px">
             <p>dict["食品名"]</p>
             <p>dict["値段"]</p>
             <a href='dict["url"]'>詳しく見る</a>
            <p>----------------------------------------</p>
        </div>
    {% endfor%}

</body>
</html>