<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/favorite_style.css">
    <link rel="stylesheet" href="../../static/css/transition.css">
    <title>おすすめの冷凍食品５選| 冷食クラブ</title>
</head>
    <body >
        <!-- startヘッダー -->
        <header class="header">
           <div class="container">
             <!-- ロゴエリア -->
             <div class="area_logo_header">
               <a href="/home" class="logo">
                 <img src="../../static/img/logo/logo.svg">
               </a>
               <p class="copy">for your busy time...</p>
             </div>
             <nav class="area_nav_header">
               <ul class="list_nav_header">
                <!-- 文字のボタン -->
                <li class="tab">
                  <a href="/tutorial" role="button">TUTORIAL</a>
                </li>
                <li class="tab">
                  <a href="/personal_data" role="button">PERSONAL</a>
                </li>
                <li class="tab">
                  <a href="/input" role="button">CALCULATE</a>
                </li>
                <li class="tab">
                  <a href="/favorite" role="button">FAVORITES</a>
                </li>
                 <!-- end文字のボタン -->
              </ul>
              <ul class="list_nav_icon_header">
                <li class="tutorial">
                  <a href="/tutorial"><img src="../../static/img/ico/tutorial.svg" alt="tutorial" height="30px" width="30px"></a>
                </li>
                <li class="personal">
                  <a href="/personal"><img src="../../static/img/ico/personal.svg" alt="personal" height="30px" width="30px"></a>
                </li>
                <li class="calculate">
                  <a href="/calculate"><img src="../../static/img/ico/calculate.svg" alt="calculate" height="30px" width="30px"></a>
                </li>
                <li class="favorites">
                    <a href="/favorite"><img src="../../static/img/ico/ico_heart.svg" alt="favorites" height="30px" width="30px"></a>
                </li>
                <li class="logout">
                    <a href="/logout"><img src="../../static/img/ico/ico_logout.svg" alt="logout" height="30px" width="30px"></a>
                </li>
              </ul>
             </nav>
           </div>
        </header>
        <!-- endヘッダー -->
        <!-- start メイン -->
        <main>
            <div  class="subtitle" style="text-align: center;">
              <h2>～冷食クラブのオススメTOP5!!～</h2>
            </div>
            <section class="wrapper" id="wrapper">
                <form action ="/home" method="post" id="check" class="submit_button">
                  <div class="Recommend">
                    <a href="/home.html">CHECK<br>CATEGORY!</a>
                  </div>
                </form>
            </section>
            <section class="wrapper" style="display: none;">
              {%- set ns = namespace(cnt=0) -%}

              {% for item in recommendList %}
              <div class="card-container">
                <div class="card-left">
                  <a href="{{item['url']}}">
                    <img src="{{item['画像']}}" alt="{{item['食品名']}}" height="162px" width="180px">
                  </a>
                </div>
                <div class="card-right">
                  <h1>{{item['食品名']}}</h1>
                    <p style="height: 130px;">{{item['商品概要']}}</p>
                  <div class="sns">
                    <ul>
                      <!-- ハート start -->
                      <li class="circle">
                        <svg class="likeButton clicked" width="47px" height="47px" viewBox="0 0 500 500">
                          <circle class="explosion" r="150" cx="250" cy="250"></circle>
                            <g class="particleLayer">
                              <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                              <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                              <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                              <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                              <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                              <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                              <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                              <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                            </g>
                            <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                        </svg>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../static/img/ico/twitter.svg" alt="twitter" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../static/img/ico/Instagram.png" alt="Instagram" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../static/img/ico/facebook.png" alt="facebook" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../static/img/ico/LINE_Brand_icon.png" alt="LINE" height="40px" width="40px">
                          </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {%- set ns.cnt = ns.cnt + 1 -%}
              {% if ns.cnt % 2 == 0 %}
              </section><section class="wrapper" style="display: none;">
              {% endif %}
            {% endfor %}
            </section>
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
 $(".likeButton").click(function() {
   $(this).toggleClass("clicked");
 });
</script>
<script>
  $(document).ready(function(){
    $(".wrapper").fadeIn(3500);
});
</script>
</body>
</html>