<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/favorite_style.css">
    <link rel="stylesheet" href="../../static/css/transition.css">
    <title>おすすめの冷凍食品５選| 冷食倶楽部</title>
</head>
    <body >
        <!-- startヘッダー -->
        <header class="header">
           <div class="container">
             <!-- ロゴエリア -->
             <div class="area_logo_header">
               <a href="/" class="logo">
                 <img src="../../static/img/logo/logo.svg">
               </a>
               <p class="copy">for your busy time...</p>
             </div>
             <nav class="area_nav_header">
               <ul class="list_nav_header">
                <!-- 文字のボタン -->
                <li class="tab">
                  <a href="/tutorial" role="button">TUTORIAL</a>
                </li>
                <li class="tab">
                  <a href="/personal_data" role="button">PERSONAL</a>
                </li>
                <li class="tab">
                  <a href="/input" role="button">CALCULATE</a>
                </li>
                <li class="tab">
                  <a href="/favorite" role="button">FAVORITES</a>
                </li>
                 <!-- end文字のボタン -->
              </ul>
              <ul class="list_nav_icon_header">
                <li class="tutorial">
                  <a href="/tutorial"><img src="../../static/img/ico/tutorial.svg" alt="tutorial" height="30px" width="30px"></a>
                </li>
                <li class="personal">
                  <a href="/personal"><img src="../../static/img/ico/personal.svg" alt="personal" height="30px" width="30px"></a>
                </li>
                <li class="calculate">
                  <a href="/calculate"><img src="../../static/img/ico/calculate.svg" alt="calculate" height="30px" width="30px"></a>
                </li>
                <li class="favorites">
                    <a href="/favorite"><img src="../../static/img/ico/ico_heart.svg" alt="favorites" height="30px" width="30px"></a>
                </li>
                <li class="logout">
                    <a href="/logout"><img src="../../static/img/ico/ico_logout.svg" alt="logout" height="30px" width="30px"></a>
                </li>
              </ul>
             </nav>
           </div>
        </header>
        <!-- endヘッダー -->
        <!-- start メイン -->
        <main>
            <div  class="subtitle" style="text-align: center; display: none;">
              <h2>～冷食倶楽部のオススメTOP5!!～</h2>
            </div>
            <section class="wrapper" id="wrapper" style="display: none;">
                <form action ="/home" method="post" id="check" class="submit_button">
                  <div class="Recommend">
                    <a href="/">CHECK<br>CATEGORY!</a>
                  </div>
                </form>
            </section>
            <section class="wrapper" style="display: none;">
              {%- set ns = namespace(cnt=0) -%}

              {% for item in recommendList %}
              <div class="card-container">
                <div class="card-left">
                  <a href="{{item['url']}}">
                    <img src="{{item['画像']}}" alt="{{item['食品名']}}" height="162px" width="180px">
                  </a>
                </div>
                <div class="card-right">
                  <h1>{{item['食品名']}}</h1>
                    <p style="height: 130px;">{{item['商品概要']}}</p>
                  <div class="sns">
                    <ul>
                      <li>
                          <a href="https://twitter.com/">
                              <img src="../../static/img/ico/twitter.svg" alt="twitter" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="https://www.secure.instagram.com/accounts/login/?next=/guioliveira.studiofitness/tagged/&source=profile_tagged_tab&hl=ja">
                              <img src="../../static/img/ico/Instagram.png" alt="Instagram" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="https://ja-jp.facebook.com/">
                              <img src="../../static/img/ico/facebook.png" alt="facebook" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="https://access.line.me/">
                              <img src="../../static/img/ico/LINE_Brand_icon.png" alt="LINE" height="40px" width="40px">
                          </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {%- set ns.cnt = ns.cnt + 1 -%}
              {% if ns.cnt % 2 == 0 %}
              </section><section class="wrapper" style="display: none;">
              {% endif %}
            {% endfor %}
            </section>
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
 $(".likeButton").click(function() {
   $(this).toggleClass("clicked");
 });
</script>
<script>
  $(document).ready(function(){
    $(".wrapper").fadeIn(3500);
});
</script>
<script>
  $(document).ready(function(){
    $(".subtitle").fadeIn(3500);
});
</script>
</body>
</html>