<!DOCTYPE html>
<html="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>チュートリアル| 冷食クラブ</title>
        <link rel="stylesheet" href="../../static/css/loading_style.css">
        <link rel="stylesheet" href="../../static/css/loading-connection_style.css">
        <link href="../../static/css/home_style.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/heart_transition.css">
        <script src="../../static/js/home_style.js" defer></script>
        <script src="../../static/js/loading-connection_style.js" defer></script>
    </head>
    <body>
        <div id="loading" class="loading active">
          <div class="loading-container">
                <h2>Now Loading...</h2>
                <div class="spinner">
                  <div class="circle"></div>
                </div>
            </div>
          </div>
        <!-- startヘッダー -->
        <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <div class="logo">
                  <img src="../../static/img/logo/logo.svg">
                </div>
                <p class="copy">For your busy time...</p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <!-- 文字のボタン -->
                  <li>
                    <a href="/tutorial" role="button">TUTORIAL</a>
                 </li>
                 <li>
                   <a href="/personal_data" role="button">PERSONAL</a>
                 </li>
                 <li>
                     <a href="/input" role="button">CALCULATE</a>
                 </li>
                 <!-- end文字のボタン -->
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="home">
                    <a href="/home"><img src="../../static/img/ico/ico_home.svg" alt="home" height="30px" width="30px"></a>
                  </li>
                  <li class="favorites">
                      <a href="/favorite"><img src="../../static/img/ico/ico_heart.svg" alt="favorites" height="30px" width="30px"></a>
                  </li>
                  <li class="logout">
                      <a href="/logout"><img src="../../static/img/ico/ico_logout.svg" alt="logout" height="30px" width="30px"></a>
                  </li>
                </ul>
              </nav>
            </div>
        </header>
        <div class="video" style="text-align:center;">
            <h1>チュートリアル動画を見て見ましょう！</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/asUAGLdKIok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </body>
</html>
