<!DOCTYPE html>
<html="ja" class="body">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>チュートリアル| 冷食クラブ</title>
        <link rel="stylesheet" href="../../static/css/loading_style.css">
        <link rel="stylesheet" href="../../static/css/loading-connection_style.css">
        <link href="../../static/css/tutorial_style.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/heart_transition.css">
        <script src="../../static/js/home_style.js" defer></script>
        <script src="../../static/js/loading-connection_style.js" defer></script>
    </head>
    <body>
        <div id="loading" class="loading active">
          <div class="loading-container">
                <h2>Now Loading...</h2>
                <div class="spinner">
                  <div class="circle"></div>
                </div>
            </div>
          </div>
        <!-- startヘッダー -->
        <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <a href="/" class="logo">
                  <img src="../../static/img/logo/logo.svg">
                </a>
                <p class="copy">For your busy time...</p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <!-- 文字のボタン -->
                 <li class="tab">
                    <a href="/tutorial" role="button">TUTORIAL</a>
                 </li>
                 <li class="tab">
                    <a href="/personal_data" role="button">PERSONAL</a>
                 </li>
                 <li class="tab">
                    <a href="/input" role="button">CALCULATE</a>
                 </li>
                 <li class="tab">
                    <a href="/favorite" role="button">FAVORITES</a>
                </li>
                 <!-- end文字のボタン -->
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="tutorial">
                    <a href="/tutorial"><img src="../../static/img/ico/tutorial.svg" alt="tutorial" height="30px" width="30px"></a>
                  </li>
                  <li class="personal">
                    <a href="/personal"><img src="../../static/img/ico/personal.svg" alt="personal" height="30px" width="30px"></a>
                  </li>
                  <li class="calculate">
                    <a href="/calculate"><img src="../../static/img/ico/calculate.svg" alt="calculate" height="30px" width="30px"></a>
                  </li>
                  <li class="favorites">
                      <a href="/favorite"><img src="../../static/img/ico/ico_heart.svg" alt="favorites" height="30px" width="30px"></a>
                  </li>
                  <li class="logout">
                      <a href="/logout"><img src="../../static/img/ico/ico_logout.svg" alt="logout" height="30px" width="30px"></a>
                  </li>
                </ul>
              </nav>
            </div>
        </header>
        <section class="wrapper"> <!-- style="display:none" -->
          <div class="p.s">
            <div class="balloon">
              <div id="message_window"></div>
              <button class="btn" onclick="message('動画を見ると、このWebアプリの使い方が分かるよ!'); disabled = true;">押してみて！</button>
            </div>
            <div class="image">
              <img src="../../static/img/img/cookingman.png" alt="コック" width="180" height="180">
            </div>
          </div>
          <div class="video" style="text-align:center;">
            <h1 class="headline">
              チュートリアル動画を見てみましょう！
            </h1>
            <iframe width="600" height="400" src="https://www.youtube.com/embed/asUAGLdKIok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="time-container">
            <!-- ビデオの時間 -->
            <div class="column">
              <div class="sentences">
                00:00  ログイン<br>
                00:10  新規登録<br>
                00:20  ホーム画面<br>
              </div>
            </div>
          </div>
          <div class="margin">

          </div>
        </section>
        <script>
          var msg_buff = '';
          function message(msg)
          {
            if (msg_buff == '') {
                msg_buff += msg + "\n";
                message_char();
            } else {
                msg_buff += msg + "\n";
            }
          }
          function message_char()
          {
            if (msg_buff == '') {
                return;
            }
            // msg_buffの先頭1文字を取得
            var c = msg_buff.slice(0, 1)
            if (c == "\n") {
                c == '<br>'; //改行の時はタグへ変換
            }
            document.getElementById('message_window').innerHTML += c;
            // msg_buffから先頭1文字を削除
            msg_buff = msg_buff.slice(1);
            setTimeout('message_char()', 60);
          }
        </script>
    </body>
</html>
