@charset "utf-8";
.header {
    background: white;
}

.header .container {
    height: 80px;
    display: flex;
    align-items: center;
    max-width: none;
    border-bottom: 3px solid black;
}

.area_logo_header {
    display: flex;
    align-items: center;
}

.area_logo_header .copy {
    display: block;
    padding-bottom: 7px;
}

.area_logo_header .logo {
    display: block;
    margin-left: 20px;
}

.area_logo_header .logo img {
    margin-top: 6px;
    margin-bottom: 10px;
    height: 64px;
    width: 64px;
    filter: grayscale(100%) contrast(120%);
}

.area_logo_header .copy {
    font: 300 12px/1em "fantasy", fantasy;
    margin: 0 0 0 30px;
    font-family: cursive;
}

.area_nav_header {
    display: flex;
    margin-left: auto;
    flex: auto;
    min-width: 10px;
}

/* ナビゲーションバー・アイコン */
.list_nav_icon_header {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 20px;
    margin-left: auto;
    margin-right: 30px;
    border-left: 1px solid black;

}

.list_nav_icon_header > li + li {
    margin-left: 10px;
}
.list_nav_icon_header a {
    display: block;
    width:30px;
    height: 30px;
    background-size: contain;
    background-position: center center;
    background-position: no-repeat;
}

.list_nav_icon_header {
    list-style: none;
}

.list_nav_icon_header .search a {
    background: url(../static/cmn/img/ico/ico_search.svg);
}

.list_nav_icon_header .favorite a {
    background: url(../static/cmn/img/ico/ico_heart.svg);
}

.list_nav_icon_header .home a {
    background: url(../static/cmn/img/ico/ico_home.svg);
}


/* リストナビ */
.list_nav_header {
    padding-left: 90px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.list_nav_header a {
    text-decoration: none;
    color: black;
    font-family: fantasy;
    font-size: 25px;
    position: relative;
    display: inline-block;
}

.list_nav_header  li {
    list-style: none;

}

.list_nav_header a::after {
    position: absolute;
    left: 0;
    content: '';
    background: black;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;   /*変形の時間*/
    width: 100%;
    height: 1.5px;
    bottom: -4px;
    }

.list_nav_header a:hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
    }

.list_nav_header > li + li {
    margin-left: 40px;
}

/* header終了 */

/* カード内容についてのcss */
/* backボタン配置についてのcss */
.back {
    width: 20px;
    height: 10px;
    position: relative;
    top: -62px;
    left: -150px;
}

/* nextボタン配置についてのcss */
.next {
    width: 20px;
    height: 10px;
    position: relative;
    top: -62px;
    right: -67px;
}

.wrapper {
	display: flex;
	/* background-color: skyblue; */
	justify-content: center;
    align-items: center;
    height: 86vh;
}

.food-containerActive {
	/* background-color: lightgreen; */
	margin: 20px;
	border-radius: 20px;
    width: 600px;
    height: 600px;
}
.food-containerPurpose {
    margin-left: 70px;
    margin-right: 5px;
	border-radius: 20px;
    width: 600px;
    height: 600px;
}
.sentence {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体"
}
.question1 {
    font-size: 25px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-weight: bold;
    display: block;
    margin-bottom: 25px;
}

p {
    font-size: 30px;
    font-family: fantasy;
}

.column1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column2 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin-left: 22px;
}
.sex {
    border-radius: 20px;
    width: 230px;
    height: 210px;
    margin: 35px;
    box-shadow: 0px 0px 28px 3px #ededed;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.sex:hover {
	border-radius: 20px;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
}
.age {
    border-radius: 20px;
    width: 230px;
    height: 210px;
    margin: 35px;
    box-shadow: 0px 0px 28px 3px #ededed;

    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.age:hover {
	border-radius: 20px;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
    border: 2px solid white;
}

.age0 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: bottom; */
}

.age1 {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 28px 3px #ededed;
}

.clickAge {
    border: 3px solid white;
}

.height {
    border-radius: 20px;
    width: 250px;
    height: 210px;
    margin: 35px;
    box-shadow: 0px 0px 28px 3px #ededed;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.height:hover {
	border-radius: 20px;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
}
.height0 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: bottom; */
}

.height1 {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 28px 3px #ededed;
}

.weight {
    border-radius: 20px;
    width: 250px;
    height: 210px;
    margin: 35px;
    box-shadow: 0px 0px 28px 3px #ededed;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.weight:hover {
	border-radius: 20px;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
}
.weight0 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: bottom; */
}

.weight1 {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 28px 3px #ededed;
}

.choice {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-size: 30px;
}

.male {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 28px 3px #ededed;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.male:hover {
	border-radius: 100%;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
    box-shadow: 2px 2px 2px 2px #339CD1;
}
.clickMale{
    box-shadow: 3.5px 3.5px 3.5px 3.5px #339CD1;
}

.female {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 28px 3px #ededed;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.female:hover {
	border-radius: 100%;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
    box-shadow: 2px 2px 2px 2px #C966A4;
}
.clickFemale{
    box-shadow: 3.5px 3.5px 3.5px 3.5px #C966A4;
}

.age1:hover {
	border-radius: 100%;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
    box-shadow: 2px 2px 2px 2px #FE9C1D;
}
.clickAge0 {
    box-shadow: 3.5px 3.5px 3.5px 3.5px #FE9C1D;
}

.height1:hover {
	border-radius: 100%;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
    box-shadow: 2px 2px 2px 2px #F62355;
}
.clickHeight0 {
    box-shadow: 3.5px 3.5px 3.5px 3.5px #F62355;
}

.weight1:hover {
	border-radius: 100%;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
    box-shadow: 2px 2px 2px 2px #9CD133;
}
.clickWeight0 {
    box-shadow: 3.5px 3.5px 3.5px 3.5px #9CD133;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}


.foodname {
	margin: 10px;
	text-align: center;
}

.card-body {
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

/*活動量カードcss */
.question2 {
    font-size: 25px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-weight: bold;
    display: block;
    margin-bottom: 25px;
}
.columnActive1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.columnActive2 {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.columnActive3 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.activeLevel {
    font-size: 30px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.answer1 {
    border-radius: 20px;
    width: 90%;
    height: 170px;
    margin-top: 40px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 28px 3px #ededed;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.answer1:hover {
	border-radius: 20px;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
}
.clickAnswer1 {
    box-shadow: 2.5px 2.5px 2.5px 2.5px #292929;
}

.answer2 {
    border-radius: 20px;
    width: 90%;
    height: 170px;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 28px 3px #ededed;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.answer2:hover {
	border-radius: 20px;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
}
.clickAnswer2 {
    box-shadow: 2.5px 2.5px 2.5px 2.5px #292929;
}

.answer3 {
    border-radius: 20px;
    width: 90%;
    height: 170px;
    margin-top: 30px;
    box-shadow: 0px 0px 28px 3px #ededed;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.answer3:hover {
	border-radius: 20px;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
}
.clickAnswer3 {
    box-shadow: 2.5px 2.5px 2.5px 2.5px #292929;
}
/* end活動量カード */

/* 活動目的カード */
.question3 {
    font-size: 25px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    text-align: center;
    font-weight: bold;
}

.decrease {
    border-radius: 20px;
    width: 90%;
    height: 160px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 28px 3px #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.decrease:hover {
	border-radius: 20px;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
}
.clickDecrease {
    box-shadow: 2.5px 2.5px 2.5px 2.5px #292929;
}

.maintain {
    border-radius: 20px;
    width: 90%;
    height: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 28px 3px #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.maintain:hover {
	border-radius: 20px;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
}
.clickMaintain {
    box-shadow: 2.5px 2.5px 2.5px 2.5px #292929;
}

.increase {
    border-radius: 20px;
    width: 90%;
    height: 160px;
    margin-top: 20px;
    box-shadow: 0px 0px 28px 3px #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.increase:hover {
	border-radius: 20px;
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
}
.clickIncrease {
    box-shadow: 2.5px 2.5px 2.5px 2.5px #292929;
}
.activePurpose {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体"
}

.search_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-top: 20px;
}

.button span {
    font-family: fantasy;
    color: black;
    position: relative;
    z-index: 1;
    font-size: 1.6em;
    text-transform: uppercase;
    Letter-spacing: 1px;
    transition: 0.3s;
}
.backNextButton span {
    font-family: fantasy;
    color: black;
    position: relative;
    z-index: 1;
    font-size: 1.6em;
    text-transform: uppercase;
    Letter-spacing: 1px;
    transition: 0.3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
    width: 105px;
    height: 55px;
    box-shadow: 0px 0px 28px 3px #ededed;
    transition: 1s;
    box-shadow: 0 0 3px var(--clr),
    0 0 15px var(--clr);
    overflow: hidden;
    position: relative;
}

.button:hover {
    background: var(--clr);
}

.button:hover::before {
    width: 120%;


}

.button::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 400px;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: white;
    border-radius: 20px;
    transition: 0.5s;
}

.button:hover::after {
    background: var(--clr);
}

/* ここからbackNextButton */
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.backNextButton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100%;
    width: 105px;
    height: 105px;
    box-shadow: 0px 0px 28px 3px #ededed;
    transition: 1s;
    box-shadow: 0 0 3px var(--clr),
    0 0 15px var(--clr);
    overflow: hidden;
    position: relative;
}

.backNextButton:hover {
    background: var(--clr);
}

.backNextButton:hover::before {
    width: 120%;


}

.backNextButton::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 400px;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.backNextButton::after {
    content: "";
    position: absolute;
    inset: 7px;
    background: white;
    border-radius: 100%;
    transition: 0.5s;
}

.backNextButton:hover::after {
    background: var(--clr);
}
