@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    overflow: scroll;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    /* activeが無い時に透明、見えなくする */
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    overflow: hidden;
}

.loading.active {
    opacity: 1;
    visibility: visible;
}
