@charset "utf-8";
input[type="submit"]{
    font-size: 1.0em;
    display: block;
    border: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
    background: #555;
    font-weight: bold;
    height: 3.0em;
    line-height: 3.0em;
    width: 100%;
    padding: 0 2.5em 0 0.8em;
    transition: 0.3s;
  }
  .button_wrap{
    color: #fff;
    position: relative;
    line-height: 2.8em;
    width: 130px;
    transition: 0.5s;
    margin:0 auto;
  }
  .button_wrap::after{
    transition: 0.3s;
    content: "";
    width: .6em;
    height: .6em;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  .button_wrap:hover::after{
    right: 12px;
  }
  input[type="submit"]:hover {
    background: #134767;
  }
