<!DOCTYPE html>
<html="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
    <link rel="stylesheet" href="../../static/css/login_register.css">
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="exceptPhoto">
    <div class="header">
    <div>For your<br>
        <span>busy time...</span>
    </div>
    </div>
    <br>
    <div class="register">
        <form action="/register" method="POST">
            <input type="text" placeholder="username" name="username" required><br>
            <input type="password" placeholder="password" name="password" required><br>
            <input type="password" placeholder="confirmation" name="password" required><br>
            <input type="submit" value="Register">
        </form>
    </div>
</div>
</body>
</html>