<!DOCTYPE html>
<html="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
    <link rel="stylesheet" href="../../static/css/login_register.css">
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="exceptPhoto">
    <div class="header">
    <div>For your<br>
        <span>busy time...</span>
    </div>
    </div>
    <br>
    <form action="/register" method="POST">
        <div class="register">
            <input type="text" placeholder="username" name="username" required><br>
            <input type="password" placeholder="password" name="password" required><br>
            <input type="password" placeholder="confirmation" name="confirmation" required><br>
            <button type="submit" value="Register">Register</button>
        </div>
    </form>
    <div class="toLogin">
        <p>
            ※ログインする方は、
            <a href="/login" role="button" class="color">こちらへ</a>
        </p>
    </div>
    </div>
</body>
</html>