<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document</title>
        <link rel="stylesheet" href="../../static/css/loading_new_style.css">
        <link rel="stylesheet" href="../../static/css/loading-connection_style.css"> <!--ここにhomeのcssとjsを読み込む -->
        <link href="../../static/css/output_style.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/heart_transition.css">
        <script src="../../static/js/loading-connection_style.js" defer></script>
    </head>
    <body>
        <div id="loading" class="loading active">
            <section class="loaderSection">
                <div class="loader">
                  <span style="--i:1;"></span>
                  <span style="--i:2;"></span>
                  <span style="--i:3;"></span>
                  <span style="--i:4;"></span>
                  <span style="--i:5;"></span>
                  <span style="--i:6;"></span>
                  <span style="--i:7;"></span>
                  <span style="--i:8;"></span>
                  <span style="--i:9;"></span>
                  <span style="--i:10;"></span>
                  <span style="--i:11;"></span>
                  <span style="--i:12;"></span>
                  <span style="--i:13;"></span>
                  <span style="--i:14;"></span>
                  <span style="--i:15;"></span>
                  <span style="--i:16;"></span>
                  <span style="--i:17;"></span>
                  <span style="--i:18;"></span>
                  <span style="--i:19;"></span>
                  <span style="--i:20;"></span>
                </div>
            </section>
        </div>
        <!-- ローディング後の画面 -->
        <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <a class="logo" href="#">
                  <img src="../../static/img/logo/logo.svg">
                </a>
                <p class="copy">for your busy time...</p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <li>
                      <a href="#">SEARCH</a>
                  </li>
                  <li>
                      <a href="#">CATEGORY</a>
                  </li>
                  <li>
                      <a href="#">FAVORITES</a>
                  </li>
                  <li>
                      <a href="#">TOPICS</a>
                  </li>
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="search">
                      <a href="#"></a>
                  </li>
                  <li class="favorite">
                      <a href="#"></a>
                  </li>
                  <li class="home">
                      <a href="#"></a>
                  </li>
                </ul>
              </nav>
            </div>
         </header>
         <!-- endヘッダー -->
         <!-- start メイン -->
         <main>
            <section class="wrapper">
                <div class="card-container">
                  <div class="card-left">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165625196_1.png" alt="牛カルビマヨネーズ" height="162px" width="180px">
                  </div>
                  <div class="card-right">
                    <h1>牛カルビマヨネーズ</h1>
                      <p>お肉でマヨソースを包み、焼肉のタレをかけました。お肉は過熱水蒸気焼き製法により外はこんがり、中はふっくらとジューシーに焼き上げました。粗びき肉を使用し食べごたえのある一品です。しっかりとした味付けなのでお弁当にぴったりで、ごはんがすすむおかずです。</p>
                    <div class="sns">
                       <ul>
                        <li class="circle">
                          <svg class="likeButton clicked" width="47px" height="47px" viewBox="0 0 500 500">
                            <circle class="explosion" r="150" cx="250" cy="250"></circle>
                              <g class="particleLayer">
                                <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                                <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                                <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                                <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                                <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                                <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                                <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                                <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                                <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                                <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                                <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                                <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                                <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                                <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                              </g>
                              <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                          </svg>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../static/img/ico/twitter.svg" alt="twitter" height="40px" width="40px">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../static/img/ico/Instagram.png" alt="Instagram" height="40px" width="40px">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../static/img/ico/facebook.png" alt="facebook" height="40px" width="40px">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../static/img/ico/LINE_Brand_icon.png" alt="LINE" height="40px" width="40px">
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-container">
                  <div class="card-left">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165625202_1.png" alt="牛カルビマヨネーズ" height="162px" width="180px">
                  </div>
                  <div class="card-right">
                    <h1>牛カルビマヨネーズ</h1>
                      <p>お肉でマヨソースを包み、焼肉のタレをかけました。お肉は過熱水蒸気焼き製法により外はこんがり、中はふっくらとジューシーに焼き上げました。粗びき肉を使用し食べごたえのある一品です。しっかりとした味付けなのでお弁当にぴったりで、ごはんがすすむおかずです。</p>
                    <div class="sns">
                       <ul class="sns1">
                        <li class="circle">
                          <svg class="likeButton clicked" width="47px" height="47px" viewBox="0 0 500 500">
                            <circle class="explosion" r="150" cx="250" cy="250"></circle>
                              <g class="particleLayer">
                                <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                                <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                                <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                                <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                                <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                                <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                                <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                                <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                                <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                                <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                                <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                                <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                                <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                                <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                              </g>
                              <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                          </svg>
                        </li>
                        <li>
                            <a href="#">
                                <img src="cmn/img/ico/twitter.svg" alt="twitter" height="40px" width="40px">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="cmn/img/ico/Instagram.png" alt="twitter" height="40px" width="40px">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="cmn/img/ico/facebook.png" alt="twitter" height="40px" width="40px">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="cmn/img/ico/LINE_Brand_icon.png" alt="twitter" height="40px" width="40px">
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

            </section>
            <section class="wrapper">
              <div class="card-container">
                <div class="card-left">
                  <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165542677_1.png" alt="牛カルビマヨネーズ" height="162px" width="180px">
                </div>
                <div class="card-right">
                  <h1>肉巻きポテト</h1>
                    <p>お肉でマヨソースを包み、焼肉のタレをかけました。お肉は過熱水蒸気焼き製法により外はこんがり、中はふっくらとジューシーに焼き上げました。粗びき肉を使用し食べごたえのある一品です。しっかりとした味付けなのでお弁当にぴったりで、ごはんがすすむおかずです。</p>
                  <div class="sns">
                     <ul>
                      <li class="circle">
                        <svg class="likeButton clicked" width="47px" height="47px" viewBox="0 0 500 500">
                          <circle class="explosion" r="150" cx="250" cy="250"></circle>
                            <g class="particleLayer">
                              <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                              <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                              <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                              <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                              <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                              <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                              <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                              <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                            </g>
                            <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                        </svg>
                      </li>
                      <li>
                          <a href="#">
                              <img src="cmn/img/ico/twitter.svg" alt="twitter" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="cmn/img/ico/Instagram.png" alt="twitter" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="cmn/img/ico/facebook.png" alt="twitter" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="cmn/img/ico/LINE_Brand_icon.png" alt="twitter" height="40px" width="40px">
                          </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-container">
                <div class="card-left">
                  <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165623635_1.png" alt="牛カルビマヨネーズ" height="162px" width="180px">
                </div>
                <div class="card-right">
                  <h1>ソースとんかつ</h1>
                    <p>お肉でマヨソースを包み、焼肉のタレをかけました。お肉は過熱水蒸気焼き製法により外はこんがり、中はふっくらとジューシーに焼き上げました。粗びき肉を使用し食べごたえのある一品です。しっかりとした味付けなのでお弁当にぴったりで、ごはんがすすむおかずです。</p>
                  <div class="sns">
                     <ul class="sns1">
                      <li class="circle">
                        <svg class="likeButton clicked" width="47px" height="47px" viewBox="0 0 500 500">
                          <circle class="explosion" r="150" cx="250" cy="250"></circle>
                            <g class="particleLayer">
                              <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                              <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                              <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                              <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                              <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                              <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                              <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                              <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                              <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                              <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                              <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                            </g>
                            <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                        </svg>
                      </li>
                      <li>
                          <a href="#">
                              <img src="cmn/img/ico/twitter.svg" alt="twitter" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="cmn/img/ico/Instagram.png" alt="twitter" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="cmn/img/ico/facebook.png" alt="twitter" height="40px" width="40px">
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="cmn/img/ico/LINE_Brand_icon.png" alt="twitter" height="40px" width="40px">
                          </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

          </section>
          <section class="wrapper">
            <div class="card-container">
              <div class="card-left">
                <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165623673_1.png" alt="牛カルビマヨネーズ" height="162px" width="180px">
              </div>
              <div class="card-right">
                <h1>どて味噌カツ</h1>
                  <p>お肉でマヨソースを包み、焼肉のタレをかけました。お肉は過熱水蒸気焼き製法により外はこんがり、中はふっくらとジューシーに焼き上げました。粗びき肉を使用し食べごたえのある一品です。しっかりとした味付けなのでお弁当にぴったりで、ごはんがすすむおかずです。</p>
                <div class="sns">
                   <ul>
                    <li class="circle">
                      <svg class="likeButton clicked" width="47px" height="47px" viewBox="0 0 500 500">
                        <circle class="explosion" r="150" cx="250" cy="250"></circle>
                          <g class="particleLayer">
                            <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                            <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                            <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                            <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                            <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                            <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                            <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                            <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                            <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                            <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                            <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                            <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                            <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                            <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                          </g>
                          <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                      </svg>
                    </li>
                    <li>
                        <a href="#">
                            <img src="cmn/img/ico/twitter.svg" alt="twitter" height="40px" width="40px">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="cmn/img/ico/Instagram.png" alt="twitter" height="40px" width="40px">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="cmn/img/ico/facebook.png" alt="twitter" height="40px" width="40px">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="cmn/img/ico/LINE_Brand_icon.png" alt="twitter" height="40px" width="40px">
                        </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-container">
              <div class="card-left">
                <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165380552_1.png" alt="牛カルビマヨネーズ" height="162px" width="180px">
              </div>
              <div class="card-right">
                <h1>れんこん鶏竜田黒酢あん</h1>
                  <p>お肉でマヨソースを包み、焼肉のタレをかけました。お肉は過熱水蒸気焼き製法により外はこんがり、中はふっくらとジューシーに焼き上げました。粗びき肉を使用し食べごたえのある一品です。しっかりとした味付けなのでお弁当にぴったりで、ごはんがすすむおかずです。</p>
                <div class="sns">
                   <ul class="sns1">
                    <li class="circle">
                      <svg class="likeButton clicked" width="47px" height="47px" viewBox="0 0 500 500">
                        <circle class="explosion" r="150" cx="250" cy="250"></circle>
                          <g class="particleLayer">
                            <circle fill="#8CE8C3" cx="130" cy="126.5" r="12.5"></circle>
                            <circle fill="#8CE8C3" cx="411" cy="313.5" r="12.5"></circle>
                            <circle fill="#91D2FA" cx="279" cy="86.5" r="12.5"></circle>
                            <circle fill="#91D2FA" cx="155" cy="390.5" r="12.5"></circle>
                            <circle fill="#CC8EF5" cx="89" cy="292.5" r="10.5"></circle>
                            <circle fill="#9BDFBA" cx="414" cy="282.5" r="10.5"></circle>
                            <circle fill="#9BDFBA" cx="115" cy="149.5" r="10.5"></circle>
                            <circle fill="#9FC7FA" cx="250" cy="80.5" r="10.5"></circle>
                            <circle fill="#9FC7FA" cx="78" cy="261.5" r="10.5"></circle>
                            <circle fill="#96D8E9" cx="182" cy="402.5" r="10.5"></circle>
                            <circle fill="#CC8EF5" cx="401.5" cy="166" r="13"></circle>
                            <circle fill="#DB92D0" cx="379" cy="141.5" r="10.5"></circle>
                            <circle fill="#DB92D0" cx="327" cy="397.5" r="10.5"></circle>
                            <circle fill="#DD99B8" cx="296" cy="392.5" r="10.5"></circle>
                          </g>
                          <path class="heart" d="M250,187.4c-31.8-47.8-95.5-19.8-95.5,32.2c0,35.2,31.8,60.3,55.7,79.2c24.9,19.7,31.8,23.9,39.8,31.8 c7.9-7.9,14.6-12.6,39.8-31.8c24.3-18.5,55.7-44.4,55.7-79.6C345.5,167.6,281.8,139.7,250,187.4z"></path>
                      </svg>
                    </li>
                    <li>
                        <a href="#">
                            <img src="cmn/img/ico/twitter.svg" alt="twitter" height="40px" width="40px">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="cmn/img/ico/Instagram.png" alt="twitter" height="40px" width="40px">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="cmn/img/ico/facebook.png" alt="twitter" height="40px" width="40px">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="cmn/img/ico/LINE_Brand_icon.png" alt="twitter" height="40px" width="40px">
                        </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

        </section>
         </main>
         <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $(".likeButton").click(function() {
    $(this).toggleClass("clicked");
  });
</script>
</body>
</html>
