<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/recommend" method="POST">
        <div>
            <label for="beef">お弁当肉系</label>
            <input type="text" name ="beef">
        </div>
        <div>
            <label for="fish">おべんとう 魚系</label>
            <input type="text" name="fish">
        </div>
        <div>
            <label for="rice">飯</label>
            <input type="text" name="rice">
        </div>
        <div>
            <label for="noodle">麺</label>
            <input type="text" name="noodle">
        </div>
        <input type="submit" value ="オススメをcheck!!">
    </form>

</body>
</html>