/* input.htmlのみに適用中(9/7現在),画面の配置を真ん中にするCSS */
@charset "UTF-8";
body {
  background: #ffffff;
  font-family: Meiryo;
}

.grid {
  background: #ffffff;
  width: 500px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  margin: 30px auto;
}
/* ここまで */

/* home.htmlのheaderについて*/
a,
a:link {
  color: #3585b7;
}
a:visited {
  color: #6252B7;
}
a:hover {
  text-decoration: none;
  color: #555;
}
header {
  display: flex;
  background-color: white;
  outline: 1px solid black;
  height: 100px;
  margin: 20px;
}
header h4 {
  margin: 25px 0 0 20px;
}
header nav {
  margin: 0 0 0 auto;
}

header nav ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
  display: block;
  padding: 10px 15px;
  text-decoration:none;
  color: #000;
  background-color: skyblue;
  border-radius: 30px;
  margin: 10px;
}
header nav ul li a:hover {
  color: #888;
}

/* logo配置についてのcss */
.logo {
  display:block;
  margin: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  left: 500px;
  bottom: 25px;
}

/* flexbox使用のためのcss */

.flex-container {
  display: flex;
  background-color: skyblue;
  justify-content: space-around;
  margin: 50px;

}

.food {
  background-color: lightgreen;
  margin: 10px;
  border-radius: 30px;
  border: 2px solid black;
}

.foodname {
  background-color: coral;
  margin: 10px;
  text-align: center;
}

/* input.htmlのbodyについてのcss */
h1{
  text-align: center;
}

.relative{
  position:relative;
  left: 1180px;
}
.home{
  position:relative;
  left: 710px;
}

/* 空間の間 */
.space{
  margin:12px;
}

