<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- ボタンにする -->
        <title>お弁当肉系</title>
    </head>
    <body>
        <main>
        <section class="z">
            <div tabindex="0" role="button" class="a">
                <div class="a">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165625196_1.png" alt="牛カルビマヨネーズ" style="height: 140px;">
                </div>
                <div class="a">牛カルビマヨネーズ</div>
            </div>
            <div tabindex="0" role="button" class="b">
                <div class="b">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165542677_1.png" alt="肉巻きポテト" style="height: 140px;">
                </div>
                <div class="b">肉巻きポテト</div>
            </div>
            <div tabindex="0" role="button" class="c">
                <div class="c" >
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165647891_1.png" alt="肉巻きポテト5個" style="height: 140px;">
                </div>
                <div class="c">肉巻きポテト5個</div>
            </div>
            <div tabindex="0" role="button" class="d">
                <div class="d">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165623635_1.png" alt="ソースとんかつ" style="height: 140px;">
                </div>
                <div class="d">ソースとんかつ</div>
            </div>
        </section>
        </main>
    </body>

</html>
