<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/design.css">
    <!-- bootstrapの読み込み -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>input 画面</title>
</head>
<body>
    <!-- navibar　-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active home">
                    <a class="nav-link" href="#">Prototype <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item relative" >
                    <a class="nav-link" href="#">登録</a>
                </li>
                <li class="nav-item relative">
                    <a class="nav-link disabled" href="#">ログイン</a>
                </li>
                <li class="nav-item relative">
                    <a class="nav-link disabled" href="#">ログアウト</a>
                </li>
            </ul>
        </div>
    </nav>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {

        // button
        const add1 = $('#add1');
        const add2 = $('#add2');
        const add3 = $('#add3');

        // clone
        add1.click(function() {

            var text = $('#breakfast').last();  // 最後尾にあるinput

            text
                .clone()  // クローン
                .val('')  // valueもクローンされるので削除する
                .insertAfter(text)  // inputを最後尾に追加
                .before("<br>");  // コピーの前に改行

        });

        add2.click(function() {

        var text = $('#lunch').last();  // 最後尾にあるinput

        text
            .clone()  // クローン
            .val('')  // valueもクローンされるので削除する
            .insertAfter(text)  // inputを最後尾に追加
            .before("<br>");  // コピーの前に改行

        });

        add3.click(function() {

        var text = $('#snack').last();  // 最後尾にあるinput

        text
            .clone()  // クローン
            .val('')  // valueもクローンされるので削除する
            .insertAfter(text)  // inputを最後尾に追加
            .before("<br>");  // コピーの前に改行

        });

    });

    </script>
    <h1>必須情報の入力する画面</h1>
    <div class="grid">
        <div class="grid1">
            <div class="space">
                <h2>一人当たりの必要摂取カロリー</h2>
            </div>
            <form action="/search_item" method="POST">
                朝食<input type="text" name="breakfast" id="breakfast"><button type="button" id="add1">+</button><br>
                昼食<input type="text" name="lunch" id="lunch"><button type="button" id="add2">+</button><br>
                間食<input type="text" name="snack" id="snack"><button type="button" id="add3">+</button><br>
                <input type="submit" value="検索">
            </form><br>
            <div class="space">
                <input type="number" name="age" placeholder="年齢" form="result">
                <input type="number" name="weight" placeholder="体重[kg]" form="result">
                <input type="number" name="height" placeholder="身長[cm]" form="result">
                <input type="number" name="budget" placeholder="予算[円]" form="result">
            </div>

            <h4>性別<br>
            <div class="space">
                <input type="radio" name="sex" value="男" form="result"> 男
                <input type="radio" name="sex" value="女" form="result"> 女
            </div>

            </h4>
            <h4>活動レベル<br>
            <div class="space">
                <input type="radio" name="level" value="one" form="result">座り仕事が多く、１日の運動は、階段の上り下りくらいだった。<br>
                <input type="radio" name="level" value="two" form="result">立ち仕事が多く、比較的一日中動き回った。<br>
                <input type="radio" name="level" value="three" form="result">立ち仕事が多く、加えてジムでトレーニングもした。<br>
            </div>

            </h4>
            <h4>目的<br>
            <div class="space">
                <input type="radio" name="activity" value="増量" form="result"> 増量
                <input type="radio" name="activity" value="減量" form="result"> 減量
                <input type="radio" name="activity" value="現状維持" form="result"> 現状維持
            </div>
            </h4>
        </div>
        <div>
            {% if breakfast|length != 0 or lunch| length != 0 or snack| length != 0 %}
                <h3>朝食</h3>
                {% for i in range(breakfast| length) %}
                    <input type="checkbox" value="{{breakfast[i]}}" name="select_food" form="result">{{breakfast[i]['食品名']}}</input><br>
                {% endfor %}
                <h3>昼食</h3>
                {% for i in range(lunch| length) %}
                    <input type="checkbox" value="{{lunch[i]}}" name="select_food" form="result">{{lunch[i]['食品名']}}</input><br>
                {% endfor %}
                <h3>間食</h3>
                {% for i in range(snack| length) %}
                    <input type="checkbox" value="{{snack[i]}}" name="select_food" form="result">{{snack[i]['食品名']}}</input><br>
                {% endfor %}
            {% endif %}
        </div>
        <form id="result" action="/" method="POST">
            <input type="submit" value="計算">
        </form>

    </div>

</body>
</html>
