<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/design.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>input 画面</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active home">
                <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item relative" >
                <a class="nav-link" href="#">登録</a>
            </li>
            <li class="nav-item relative">
                <a class="nav-link disabled" href="#">ログイン</a>
            </li>
            <li class="nav-item relative">
                <a class="nav-link disabled" href="#">ログアウト</a>
            </li>
          </ul>
        </div>
      </nav>

    <!-- <header>
        <h4>
            <a href="home.html">
                <img src="../images/logo.png" alt="世界においしいしあわせを" class="logo">
            </a>
        </h4>
        <nav>
            <ul>
                <li><a href="register.html">登録</a></li>
                <li><a href="login.html">ログイン</a></li>
                <li><a href="logout.html">ログアウト</a><li>
            </ul>
        </nav>
    </header> -->
    <div class="a">
        <h1>必須情報を入力する画面</h1>
    </div>
    <div class="grid">
        <form action="/" method="POST">
            <div class="grid1">
                <h2>一人当たりの必要摂取カロリー</h2>
                <div class="space">
                    <input type="number" name="age" placeholder="年齢">
                    <input type="number" name="weight" placeholder="体重[kg]">
                    <input type="number" name="height" placeholder="身長[cm]">
                    <input type="number" name="budget" placeholder="予算[円]">
                </div>
                <h4>性別<br>
                <div class="space">
                    <input type="radio" name="sex" value="男"> 男
                    <input type="radio" name="sex" value="女"> 女
                </div>
                </h4>
                <h4>活動レベル<br>
                <div class="space">
                    <input type="radio" name="level" value="one">座り仕事が多く、１日の運動は、階段の上り下りくらいだった。<br>
                    <input type="radio" name="level" value="two">立ち仕事が多く、比較的一日中動き回った。<br>
                    <input type="radio" name="level" value="three">立ち仕事が多く、加えてジムでトレーニングもした。<br>
                </div>
                </h4>
                <h4>目的<br>
                <div class="space">
                    <input type="radio" name="activity" value="増量"> 増量
                    <input type="radio" name="activity" value="減量"> 減量
                    <input type="radio" name="activity" value="現状維持"> 現状維持
                </div>
                </h4>
            </div>
            <!-- <div class="grid2">
                <div>
                    {% for i in range(foods| length) %}
                        <input type="radio" id="breakfast{{i}}">{{foods[i]}}</input>
                    {% endfor %}

                </div>
            </div> -->
            <input type="submit" value="登録">
        </form>
        <!-- <form action="/search_item" method="get">
                朝食<input type="text" name="breakfast" id="breakfast">
                昼食<input type="text" name="lunch" id="lunch">
                間食<input type="text" name="snack" id="snack">
                <input type="submit" value="検索">
        </form> -->
    </div>
</body>
</html>
