<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>"Webアプリの名前"</title>
        <link href="../static/design.css">
    </head>
    <body>
        <a href="/back">
            <button>Back</button>
        </a>
        <h1>冷凍食品提案画面</h1>
        {% if data|length != 0 %}
        <h2>オススメの冷凍食品</h2>
            <table>
                <thead>
                    <th>画像</th>
                    <th>食品名</th>
                    <th>カロリー</th>
                    <th>炭水化物</th>
                    <th>タンパク質</th>
                    <th>脂質</th>
                    <th>炭水化物</th>
                    <th>値段</th>
                </thead>
                <tbody>
                    {% for dict in data %}
                    <tr>
                        <td> <a href="{{ dict['url']}}" alt="{{ dict['食品名']}}"><img src="{{dict['画像']}}" width="300px"></a></td>
                        <td> {{ dict["食品名"]}}</td>
                        <td> {{ dict["カロリー"]}}</td>
                        <td> {{ dict["タンパク質"]}}</td>
                        <td> {{ dict["脂質"]}}</td>
                        <td> {{ dict["炭水化物"]}}</td>
                        <td> {{ dict["値段"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h1>今日は断食！おめぇが食う飯はねぇ！</h1>
        {% endif %}
    </body>
</html>