<!DOCTYPE html>
<html="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>練習</title>
        <link href="../static/ajax.css" rel="stylesheet">
        <script src="../staticajax.js" defer></script>

    </head>
    <body>
      <main>
        <ul class="tabs">
          <li><a href="" class="active">タブ1</a></li>
          <li><a href="">タブ2</a></li>
          <li><a href="">タブ3</a></li>
          <li><a href="">タブ4</a></li>
        </ul>
        <ul class="contents">
          <li class="active">コンテンツ1</li>
          <li>コンテンツ2</li>
          <li>コンテンツ3</li>
          <li>コンテンツ4</li>
        </ul>
      </main>
    </body>
</html>
