<!DOCTYPE html>
<html="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>冷凍食品</title>
        <link href="../static/ajax.css" rel="stylesheet">
        <script src="../static/ajax.js" defer></script>

    </head>
    <body>
      <header>
        <h4>
            <a href="input.html">
                <img src="../images/logo.png" alt="世界においしいしあわせを" class="logo" >
            </a>
        </h4>
        <nav>
            <ul>
                <li><a href="register.html">登録</a></li>
                <li><a href="login.html">ログイン</a></li>
                <li><a href="logout.html">ログアウト</a><li>
            </ul>
        </nav>
    </header>
      <main>
        <ul class="tabs">
          <li><a href="" class="active">お弁当肉系</a></li>
          <li><a href="">お弁当魚系</a></li>
          <li><a href="">タブ3</a></li>
          <li><a href="">タブ4</a></li>
        </ul>
        <ul class="contents">
          <li class="active">
            <div class="flex-container">
              <div tabindex="0" role="button" class="food">
                  <div class="a" style="height: 140px;">
                      <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165625196_1.png" alt="牛カルビマヨネーズ" style="height: 140px;">
                  </div>
                  <div class="foodname">牛カルビマヨネーズ</div>
              </div>
              <div tabindex="0" role="button" class="food">
                  <div class="b" style="height: 140px;">
                      <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165542677_1.png" alt="肉巻きポテト" style="height: 140px;">
                  </div>
                  <div class="foodname">肉巻きポテト</div>
              </div>
              <div tabindex="0" role="button" class="food">
                  <div class="c" style="height: 140px;">
                      <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165647891_1.png" alt="肉巻きポテト5個" style="height: 140px;">
                  </div>
                  <div class="foodname">肉巻きポテト5個</div>
              </div>
              <div tabindex="0" role="button" class="food">
                  <div class="d" style="height: 140px;">
                      <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165623635_1.png" alt="ソースとんかつ" style="height: 140px;">
                  </div>
                  <div class="foodname">ソースとんかつ</div>
              </div>
          </div>
          <div class="flex-container">
            <div tabindex="0" role="button" class="food">
                <div class="a" style="height: 140px;">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165625196_1.png" alt="牛カルビマヨネーズ" style="height: 140px;">
                </div>
                <div class="foodname">牛カルビマヨネーズ</div>
            </div>
            <div tabindex="0" role="button" class="food">
                <div class="b" style="height: 140px;">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165542677_1.png" alt="肉巻きポテト" style="height: 140px;">
                </div>
                <div class="foodname">肉巻きポテト</div>
            </div>
            <div tabindex="0" role="button" class="food">
                <div class="c" style="height: 140px;">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165647891_1.png" alt="肉巻きポテト5個" style="height: 140px;">
                </div>
                <div class="foodname">肉巻きポテト5個</div>
            </div>
            <div tabindex="0" role="button" class="food">
                <div class="d" style="height: 140px;">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165623635_1.png" alt="ソースとんかつ" style="height: 140px;">
                </div>
                <div class="foodname">ソースとんかつ</div>
            </div>
        </div>
        <div class="flex-container">
            <div tabindex="0" role="button" class="food">
                <div class="a" style="height: 140px;">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165625196_1.png" alt="牛カルビマヨネーズ" style="height: 140px;">
                </div>
                <div class="foodname">牛カルビマヨネーズ</div>
            </div>
            <div tabindex="0" role="button" class="food">
                <div class="b" style="height: 140px;">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165542677_1.png" alt="肉巻きポテト" style="height: 140px;">
                </div>
                <div class="foodname">肉巻きポテト</div>
            </div>
            <div tabindex="0" role="button" class="food">
                <div class="c" style="height: 140px;">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165647891_1.png" alt="肉巻きポテト5個" style="height: 140px;">
                </div>
                <div class="foodname">肉巻きポテト5個</div>
            </div>
            <div tabindex="0" role="button" class="food">
                <div class="d" style="height: 140px;">
                    <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165623635_1.png" alt="ソースとんかつ" style="height: 140px;">
                </div>
                <div class="foodname">ソースとんかつ</div>
            </div>
        </div>
          </li>
          <li>
            <div class="flex-container">
                <div tabindex="0" role="button" class="food">
                    <div class="a" style="height: 140px;">
                        <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165625196_1.png" alt="牛カルビマヨネーズ" style="height: 140px;">
                    </div>
                    <div class="foodname">牛カルビマヨネーズ</div>
                </div>
                <div tabindex="0" role="button" class="food">
                    <div class="b" style="height: 140px;">
                        <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165542677_1.png" alt="肉巻きポテト" style="height: 140px;">
                    </div>
                    <div class="foodname">肉巻きポテト</div>
                </div>
                <div tabindex="0" role="button" class="food">
                    <div class="c" style="height: 140px;">
                        <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165647891_1.png" alt="肉巻きポテト5個" style="height: 140px;">
                    </div>
                    <div class="foodname">肉巻きポテト5個</div>
                </div>
                <div tabindex="0" role="button" class="food">
                    <div class="d" style="height: 140px;">
                        <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165623635_1.png" alt="ソースとんかつ" style="height: 140px;">
                    </div>
                    <div class="foodname">ソースとんかつ</div>
                </div>
            </div>
          </li>
          <li>コンテンツ3</li>
          <li>コンテンツ4</li>
        </ul>
      </main>
    </body>
</html>