<!DOCTYPE html>
<html="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
    <link rel="stylesheet" href="../static/design1.css">
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="exceptPhoto">
    <div class="header">
      <div>For your<br>
        <span>busy time...</span>
    </div>
    </div>
    <br>
    <div class="login">
        <input type="text" placeholder="username" name="user"><br>
        <input type="password" placeholder="password" name="password"><br>
        <input type="button" value="Login">
    </div>
</div>
</body>
</html>