<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input 画面</title>
</head>
<body>
    <form action="/input" method="GET">
        <h1>朝食</h1>
        {% for i in range(breakfast| length) %}
            <input type="radio" value="{{breakfast[i]}}" name="select_food">{{breakfast[i]['食品名']}}<br>
        {% endfor %}
        <h1>昼食</h1>
        {% for i in range(lunch| length) %}
            <input type="radio" value="{{lunch[i]}}" name="select_food">{{lunch[i]['食品名']}}<br>
        {% endfor %}
        <h1>間食</h1>
        {% for i in range(snack| length) %}
            <input type="radio" value="{{snack[i]}}" name="select_food">{{snack[i]['食品名']}}<br>
        {% endfor %}
        <input type="submit" value="登録">
    </form>
</body>
</html>