<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input 画面</title>
</head>
<body>
    <form action="/input" method="POST">
        {% for i in range(breakfast| length) %}
            <input type="radio" value="{{breakfast[i]}}"></input>
        {% endfor %}
        {% for i in range(lunch| length) %}
            <input type="radio" value="{{lunch[i]}}"></input>
        {% endfor %}
        {% for i in range(snack| length) %}
            <input type="radio" value="{{snack[i]}}"></input>
        {% endfor %}
    </form>
</body>